@model WebApplication2.Models.Org
@{
    ViewBag.Title = "MultiObject";
}

<h2>MultiObject</h2>

<h2>@Model.Id, @Model.Name, @Model.Address</h2>

@foreach (var d in Model.Department)
{
    <h2 class="text-danger">@d.Id, @d.Name, @d.HeadOfDept</h2>
}

@foreach (var e in Model.Employess)
{
    <h2 class="text-success">@e.Id, @e.Name, @e.Desig</h2>
}

